body {
    background-color: #5280c5;
    color: #003366;
    font-family: Verdana, Arial, sans-serif;
    background-image: url("gradietblue.jpg");
}

header {
    background-color: #000066;
    color: #f0f0f0;
    background-image: url("bigfish.gif");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

h1 {
    line-height: 250%;
    text-indent: 1em;
    text-align: center;
    margin-bottom: 0;
    font-size: 3em;
    padding: 0.2em;
   text-shadow: 2px 2px 2px #CCCCCC;
}

nav {
    font-weight: bold;
    padding: 5px;
    float: left;
    width: 180px;
}
nav ul {
    list-style-type: none;

}
nav a {
    text-decoration: none;
}
nav a:link {
    color: #000066;
}
nav a:visited {
    color: #5280C5;
}
nav a:hover {
    color: #3262a3;
}

dt {
    color: #5280c5;
    font-size: 1.1em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman';
}
label {float: left; display: block;
text-align: right; width: 8em;
padding-right: 1em;}

.category {
    font-weight: bold;
    color: #5380c5;
    font-family: Georgia, 'Times New Roman';
    text-shadow: 1px 1px 1px #667;
}

footer {
    font-size: 0.70em;
    font-style: italic;
    text-align: center;
    background-color: #Aec3ec;
    padding: 1em;
    margin-left: 180px;
}

#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #F0f0f0;
    min-width: 700px;
}

main {
    padding-left: 2em;
    padding-right: 2em;
    margin-left: 180px;
    background-color: #ffffff;
    border: 1px solid #aec3e3;

}

img {
    border: none;
}

* {
    box-sizing: border-box;
}
footer,
header,
main,
nav {
    display: block;
}
#mobile { 
    display: none;
}
#desktop { 
    display: inline;
}
table {margin: 1em;
background-color: #ffffff;
border: 2px solid;
border-collapse: collapse;
}
td, th { padding: 0.5em;
color: #000066;
border: solid 1px;
}
input, textarea { display: block; margin-bottom: 1em;
}
.mysubmit { margin-left: 9.5em;
}
video {float: right;
    margin: 1em;
    position: static; right: 20px;
}
@media only screen and (max-width: 1024px) {
    body { margin: 0;
    padding: 0;
background-image: none;}
#wrapper {min-width: 0;
margin: 0;}
h1 { margin: 0;
font-size: 1.8em;
line-height: 200%;}
nav {float: none;
padding: 0;
width: auto;}
nav li {display: inline-block;}
nav a {padding: 1em;
font-size: 1.2em;}
nav ul { text-align: center;
padding: 0;
margin: 0;}
main { font-size: 90%;
margin: 0;
padding-left: 2em;}
footer { margin: 0;}
}
@media only screen and (max-width: 768px) {
    header { background-image: url(lilfish.gif);
    }
    h1 {font-size: 1.5em;
    line-height: 120%;}
nav a {display: block;
padding: 0.2em;
font-size: 1em;
 border-bottom: 1px;
border-color: #330000;}
nav li {display: block;}
nav ul {text-align: left;}
main { padding-left: 1em;}
.category {text-shadow: none;}
#mobile {display: inline;}
#desktop {display: none;}
}